/* * {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	background-color: red;
	font-family: 'Open Sans', sans-serif;
	line-height: 1.5;
	font-size: 16px;
	color: #333;
	background: #f5f5f5;
}

.text {
	background: steelblue;
	color: #fff;
	font-size: 20px;
	padding: 20px;
	border: skyblue 1px solid;
	display: grid;
	gap: 10px;
	grid-template-columns: 1fr 1fr ;
	
	
	/*grid-template-rows: 1fr 1fr 1fr;
	background-color: #ccc;
	padding: 20px;
	text-align: center;*/
/*
}


.bodydiv {
	max-width: 960px;
	margin: 100px auto;
	padding: 10px;
	
	
	
}
*/
.mylist {
	padding-left: 80px;
	padding-right: 20px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: 20px;
}

.card-item {
	background-color: rgb(218, 278, 228);
	border-radius: 10px;
	padding: 20px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

img {
	max-width: 70px;
	height: 50px;
	border-radius: 37%;
}
/*.text:nth-child(1){
	font-size: 1.1rem;
	grid-row: span 3;
	display: grid;
	align-content: center;
	}
	*/
/*.text {
	background-color: rgb(218, 278, 228);
	padding: 20px;
	font-size: 0.77rem;
	line-height: 1.7;
}
*/
.text {
	
	padding: 20px;
}

.custome-banner {
	max-width: 900px;
	height: 300px;
	background-color: rgb(222, 222, 255);
	margin: 0 auto 20px auto;
	display: grid;
}

.tex {
	margin: auto;
	color: rgb(113, 113, 175);
	font-size: 3rem;
}

.full-width {
	display: grid;
	grid-template-columns: minmax(auto, 900px);
	justify-content: center;
	background-color: rgb(255, 211, 130);
	color: rgb(112, 86, 38);
	line-height: 1.7;
	padding: 20px;
}

.parent-img {
	display: grid;
	max-width: 700px;
	margin: 20px auto;
}

.parent-img img {
	grid-column: 1;
	grid-row: 1;
	max-width: 100%;
	display: block;
}

.textclass {
	grid-column: 1;
	grid-row: 1;
	color: #fff;
	background-color: rgb(0, 0, 0, 0.308);
	padding: 20px;
	font-size: 0.85rem;
	line-height: 1.7;
}
.search-bar{
	margin: 5px;
	text-align: center;
}

nav {
  background-color: #333;
  font-size: 16px;
  text-align: center;
  padding: 5px
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 5px;
}

nav li {
  display: inline-block;
  margin: 0 10px;
}

nav a {
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 10px;
}

nav a:hover {
  background-color: #3fbf7c255211130;
}













/*
form {
  width: 80%;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

label {"src/main/java"
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 8px;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 10px;
  background-color: rgba(255, 255, 255, 0.7);
  opacity: 0.7;
}

button[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 10px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  opacity: 0.8;
}

button[type="submit"]:hover {
  opacity: 1;
}

*/




.search-form {
  display: flex;
  align-items: center;
  margin-left: 200px;
  margin-right: 300px;
 margin-bottom: 50px
}

input[type="text"] {
	
  border-radius: 40px;
  border-bottom: 2px solid #ccc;
 
  font-size: 16px;
  flex-grow: 1;
}

button[type="submit"] {
	border-radius: 30px;
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}
.inputwrapper{
	padding: 20px;
}
