<!doctype>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<link   rel="stylesheet" type="text/css" href="/customestylefolder/styleform.css">
<title>input data here</title>
</head>


<body>

<div class="myform-container">
<form th:action="@{/ddRecord}" th:object="${lyricsRecord}" method="post" enctype="multipart/form-data">

	  <div class="item1" id="myfirstitem">
	  <label for="artistname">Artist Name:</label> <br>
	    <input type="text" id="username" th:field="*{Artist}"><br> 
	  </div>  
		<div class="item1">
		<label for="lyrics">Song Lyrics :</label> 
		<input type="text" id="lyrics" th:field="*{Lyrics}"><br>
		</div>  
		<div class="item1">
		<label for="name">Song name :</label> 
		<input type="text" id="name" th:field="*{Name}"><br> 
		</div>
		<div class="item1">
		<label for="photo">Passport Photo:</label> 
		<input type="file" id="photofile" accept=".jpg, .jpeg, .png" th:field="*{photo}"><br> 
		</div>
		<div class="item1">
		<label for="description">Song Description:</label> 
		<input type="text" id="description" th:field="*{Desc}"><br> 
		</div>
		<div class="item1">
		<label for="dialect">Song Dialect:</label> 
		<input type="text" id="dialect" th:field="*{Dialct}"><br>
		</div>
	    <div class="item1">
	    <label for="youtube">Youtube link:</label>
	    <input type="text" id="youtube" th:field="*{Youtube}"> <br>
	    </div>

<button type="submit">send</button>



</form>
</div>
</body>


</html>