<!Doctype>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>first page viewed</title>
<link rel="stylesheet" type="text/css"
	href="/customestylefolder/customestyle.css">
<!--  -->
<link rel="stylesheet" href="/css/bootstrap.min.css">
<script src="/js/bootstrap.min.js"></script>
</head>



<!-- 
<ul>
<li th:each="item, interate : ${mydataholder}">
<span th:text="${item.Artist}"></span>
<img th:src="@{'data:image/png;base64,' + ${item.photo}}" alt="My Image">
</li>


</ul>

 -->


<!--  

<hr>
<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="#">About</a></li>
    <li><a href="/getform">Services</a></li>
    <li><a href="#">Contact</a></li>
  </ul>
</nav>
<br>
<br> 
<form class="search-bar" th:action="@{/search}" method="get">
  <label for="search">Search:</label>
  <input type="search" id="search" name="name">
  <button type="submit">Submit</button>
</form>
-->
<hr>
<br>
<form class="search-form">
<div class="inputwrapper">
  <input type="text" placeholder="Search...">
</div>

 
  <button type="submit">Go</button>
</form>




<hr>
<br>







<ul>
	<div class="mylist">
		<div th:each="item, interate : ${mydataholder}">
		<div class ="card-item">
			<li class="text"><span th:text="${item.Artist}"></span>
			<img th:src="@{'data:image/png;base64,' + ${item.photo}}" alt="My Image">
			<button>my button</button>
			</li>
			</div>
			
			
			<!-- 
		
		<li class="text">immutable and cannot be changed, while others believe that it can be altered through the power of prayer or other interventions. Regardless of one's personal beliefs, the concept of fate has been a recurring theme in literature, philosophy, and mythology throughout human history.</li>
		<li class="text">Finding it hard to send videos on WhatsApp, Facebook, YouTube, TikTok, or Instagram due to the video size limit? You need an online video compressor to reduce video file size with ease.
</li>
		<li class="text">Free to compress video online without losing video quality and resolution. Shrink video file size under the format of MP4, WEBM, MOV, AVI, MKV, WMV and more with fast video compression speed. Try Media.io to make your video size smaller.</li>
		<li class="text">Media.io is an absolutely secure HTTPS (SSL) connection website, all the uploaded and compressed files are automatically removed from our servers within 24 hours, we promise! You can upload your files without extra safety worries.</li>
		<li class="text">Custom video resolution, size, bitrate and output format as needed, and then click the bottom Compress button to compress video.</li>
		<li class="text">it hard to send videos on WhatsApp, Facebook, YouTube, TikTok, or Instagram due to the video size limit? You need an online video compressor to reduce video file size with ease.</li>
	
		
		 -->

		</div>
	</div>
</ul>


<hr>










<br>
<br>
<br>
<hr>
<hr>

<form>
  <label for="name">Name:</label>
  <input type="text" id="name" name="name" required>
  
  <label for="email">Email:</label>
  <input type="email" id="email" name="email" required>
  
  <label for="message">Message:</label>
  <textarea id="message" name="message" rows="5" required></textarea>
  
  <button type="submit">Submit</button>
</form>























<div class="custome-banner">

	<p class="tex">item 8</p>

</div>
<div class="full-width">
	<p class="mycnt">nyone having the solution of the problem using
		annotation @configuration in spring MVC/Rest , the @configuration
		annotation is used from spring framework. when i am putting the bean
		of hibernate into that configuration it clash with hibernate</p>
</div>
<div class="parent-img">
	<img src="/media/download.jpeg" alt="my brave lion">
	<div class="textclass">
		<p>Distributions like Ubuntu and Elementary make it easy for you
			to get Bluetooth set up and working on your machine. However, other
			distributions like Fedora and Arch Linux require you to do</p>
	</div>

</div>




<a href="/ddRecord">Add Record here</a>

</body>
</html>